// Bookmania & Proxima Nova look alike fonts

@import './css-reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&family=Tinos:wght@400;700&display=swap');
// Styles

$meno-blue: #5c72b6;
$medium-gray: #555;
$dark-gray: #4d4d4d;

$bullet-spacing: 1.875rem;
$border-radius-pill: 50px;
$border-radius-md: 12px;
$cta-padding: 15px 0;
$proxima-nova-substitute: proxima-nova, sans-serif;
$bookmania-substitute: bookmania, serif;
$border-thin: #f7edfe 1px solid; 

html {
    font-size: 15px;
    @media (min-width: 767px) {
        font-size: 16px;
    }
    @media (min-width: 1440px) {
        font-size: 17px;
    }
}

body {
    height: 100vh;
    background-color: #faf7f7;
}

.shop-selection {
    color: $dark-gray;
    margin: 0.938rem auto;
    font-family: $proxima-nova-substitute, sans-serif;

    &__title-group {
        display: flex;
        width: 100%;
        font-family: $bookmania-substitute, serif;
        font-weight: 600;
        font-size: 1.25rem;
        color: $medium-gray;
    }

    &__section-title {
        color: $medium-gray;
        width: 100%;
    }
    
    &__section-number {
        width: $bullet-spacing;
        display: inline-block;
    }

    &__section {
        padding: 1rem;
    }
    
    &__section + &__section {
        border-top: $border-thin;
    }

    &__input {
        background-color: #ffffff;
        width: 90%;
        margin: 0 auto;
        border-radius: $border-radius-md;
        border: $border-thin;
    }

    &__section--qty {
        display: flex;
        justify-content: space-between;
    }

    &__qty-radiogroup {
        display: flex;
        flex-direction: row;
    }

    &__blurb {
        margin-top: 0.625rem;
        margin-left: $bullet-spacing;
        font-size: 0.938rem;
        color: #555550;
        font-weight: 300;
    }

    &__helper-text {
        font-size: 1.063rem;
        font-weight: 300;
        text-align: center;
        margin: 15px auto;
        line-height: 20px;
        img {
            display: inline-block;
            width: 100px;
        }
        .strong {
            font-weight: 700;
        }
    }

    &__guarantee {
        font-weight: 300;
        font-family: $bookmania-substitute;
        width: 100%;
        text-align: center;
        margin: 0.938rem auto;
        font-size: 1.25rem;
    }

    @media (min-width: 767px) {
        max-width: 500px;
    }
}



.type-selector {
    margin-top: 0.75rem;
    position: relative;
    
    &__radio-container {
        flex-grow: 0;
        width: $bullet-spacing;
        line-height: 24px;
    }
    
    &__radio {
        width: 1.25rem;
    }

    & input[type="radio"]{
        opacity: 0;
        position: fixed;
        width: 0;
    }

    & input[type="radio"] + label .input-indicator{
        position: absolute;
        font-size: 0.875rem;
        width: 9px;
        height: 9px;
        padding: 2px;
        box-sizing: content-box;
        margin-top: 3px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid;
        content: url(/src/assets/shop-check.svg);
        border-color: #613d7a;
    }
    & input[type="radio"]:checked + label .input-indicator{
        background-color: $meno-blue;
    }
    
    &__label-container {
        cursor: pointer; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
    }
    
    &__label {
        flex-grow: 1;
        width: 75%;
        line-height: 18px;
    }

    &__label-title {
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
        line-height: 24px;
    }

    &__label-description {
        font-size: 0.938rem;
        color: #555550;
        font-weight: 300;
    }

    &__strong-description{
        font-weight: 700;
        color: $meno-blue;
    }
    
    &__price {
        display: flex;
        flex-direction: column;
        text-align: right;
        line-height: 24px;
        color: #555550;
    }
    
    &__price-ammount {
        font-size: 1.25rem;
        font-weight: 700;
    }
    
    &__price-unit {
        font-size: 0.938rem;
        font-weight: 300;
        line-height: 18px;
    }
}

.quality-selector {
    margin-left: 0.313rem;
    
    & input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
    }
    
    & input[type="radio"]:checked + label {
        background-color: $meno-blue;
        border-color: #613d7a;
        color: white;
    }
    
    
    &__label {
        cursor: pointer; 
        text-align: center;
        color: $meno-blue;
        line-height: 33px;
        width: 45px;
        margin: 0;
        padding: 0;
        font-size: 1.188rem;
        font-weight: 600;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 1.25rem;
        border: $border-thin;
        border: 1px #5c72b6 solid;
    }
}

.cart-cta {
    font-family: $proxima-nova-substitute, sans-serif;
    background-color: $meno-blue;
    border-radius: $border-radius-pill;
    padding: $cta-padding;
    width: 90%;
    display: block;
    margin: 0.938rem auto 0;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 1.125rem;
    &__text-strikethrough {
        font-weight: 400;
        text-decoration: line-through;
        margin: 0 0.25rem;
        opacity: .7;
    }
}