// Bookmania & Proxima Nova look alike fonts

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&family=Tinos:wght@700&display=swap');
@import './css-reset.scss';

// Styles

$meno-blue: #5c72b6;
$medium-gray: #555;
$dark-gray: #4d4d4d;

$border-radius: 50px;
$cta-padding: 15px 0;
$proxima-nova-substitute: 'Figtree';
$bookmania-substitute: 'Tinos';

.shop-selection {
    font-family: $proxima-nova-substitute, sans-serif;
    &__section-title {
        font-family: $bookmania-substitute, serif;
        font-weight: 700;
        color: $medium-gray;
    }

    &__option-title {
        color:#4d4d4d;

    }
}

p {
    color: red;
}

.cart-cta {
    font-family: $proxima-nova-substitute, sans-serif;
    background-color: $meno-blue;
    border-radius: $border-radius;
    padding: $cta-padding;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    &__text-strikethrough {
        font-weight: 400;
        text-decoration: line-through;
        margin: 0 2px;
        opacity: .7;
    }
}

.pillLogo {
    img {
        height: 1.5em;

    }
}